<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>AddTaskServlet</servlet-name>
    <servlet-class>register.AddTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTaskServlet</servlet-name>
    <url-pattern>/AddTaskServlet</url-pattern>
  </servlet-mapping>
  <display-name>TimeTracker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GenerateChartServlet</display-name>
    <servlet-name>GenerateChartServlet</servlet-name>
    <servlet-class>register.GenerateChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateChartServlet</servlet-name>
    <url-pattern>/GenerateChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeListServlet</display-name>
    <servlet-name>EmployeeListServlet</servlet-name>
    <servlet-class>register.EmployeeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeListServlet</servlet-name>
    <url-pattern>/EmployeeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServlet</display-name>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>register.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskChartDataServlet</display-name>
    <servlet-name>TaskChartDataServlet</servlet-name>
    <servlet-class>register.TaskChartDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskChartDataServlet</servlet-name>
    <url-pattern>/TaskChartDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartServlet</display-name>
    <servlet-name>ChartServlet</servlet-name>
    <servlet-class>register.ChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartServlet</servlet-name>
    <url-pattern>/ChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartsServlet</display-name>
    <servlet-name>ChartsServlet</servlet-name>
    <servlet-class>register.ChartsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartsServlet</servlet-name>
    <url-pattern>/ChartsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>register.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateServlet</display-name>
    <servlet-name>GenerateServlet</servlet-name>
    <servlet-class>register.GenerateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateServlet</servlet-name>
    <url-pattern>/GenerateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartAppServlet</display-name>
    <servlet-name>ChartAppServlet</servlet-name>
    <servlet-class>register.ChartAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartAppServlet</servlet-name>
    <url-pattern>/ChartAppServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>register.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>register.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>register.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployee</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>register.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>register.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashServlet</display-name>
    <servlet-name>AdminDashServlet</servlet-name>
    <servlet-class>register.AdminDashServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashServlet</servlet-name>
    <url-pattern>/AdminDashServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>register.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpLoginServlet</display-name>
    <servlet-name>EmpLoginServlet</servlet-name>
    <servlet-class>register.EmpLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLoginServlet</servlet-name>
    <url-pattern>/EmpLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDashboardServlet</display-name>
    <servlet-name>EmployeeDashboardServlet</servlet-name>
    <servlet-class>register.EmployeeDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDashboardServlet</servlet-name>
    <url-pattern>/EmployeeDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>register.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeViewServlet</display-name>
    <servlet-name>EmployeeViewServlet</servlet-name>
    <servlet-class>register.EmployeeViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewServlet</servlet-name>
    <url-pattern>/EmployeeViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogutServlet</display-name>
    <servlet-name>LogutServlet</servlet-name>
    <servlet-class>register.LogutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogutServlet</servlet-name>
    <url-pattern>/LogutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeChartServlet</display-name>
    <servlet-name>EmployeeChartServlet</servlet-name>
    <servlet-class>register.EmployeeChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeChartServlet</servlet-name>
    <url-pattern>/EmployeeChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDeleteServlet</display-name>
    <servlet-name>EmployeeDeleteServlet</servlet-name>
    <servlet-class>register.EmployeeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDeleteServlet</servlet-name>
    <url-pattern>/EmployeeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeAddTaskServlet</display-name>
    <servlet-name>EmployeeAddTaskServlet</servlet-name>
    <servlet-class>register.EmployeeAddTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeAddTaskServlet</servlet-name>
    <url-pattern>/EmployeeAddTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeEditServlet</display-name>
    <servlet-name>EmployeeEditServlet</servlet-name>
    <servlet-class>register.EmployeeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeEditServlet</servlet-name>
    <url-pattern>/EmployeeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompletedServlet</display-name>
    <servlet-name>CompletedServlet</servlet-name>
    <servlet-class>register.CompletedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompletedServlet</servlet-name>
    <url-pattern>/CompletedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardServlet</display-name>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>register.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/BoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailsServlet</display-name>
    <servlet-name>ViewDetailsServlet</servlet-name>
    <servlet-class>register.ViewDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailsServlet</servlet-name>
    <url-pattern>/ViewDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackerDao</display-name>
    <servlet-name>TrackerDao</servlet-name>
    <servlet-class>register.TrackerDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackerDao</servlet-name>
    <url-pattern>/TrackerDao</url-pattern>
  </servlet-mapping>

</web-app>